@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}


/*roda pé inicial */
 #especial {
    height: 5px;
    background-color: #383F5D;
    margin-bottom: 10px;
    width: 100%;
 }

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    overflow-x: hidden;
}

header {
    margin-top: 10px;
    width: 100vw;
}

#header-logo {
    padding-left: 10px;
}

nav {
    text-align: left;
    padding: 10px 0px 10px 15px ;
}


a {
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.barra::after {
    content: ' |';
    padding-left: 1px;
}
main {
    
}

#imagem img {
    width: 100vw;
    padding: 20px;
    box-sizing: border-box;
}

main > h1 {
        text-align: center;
        padding: 20px;
}

main > h2 {
    padding: 20px;
}

 main > p {
    text-indent: 30px;
    padding: 20px;
    text-align: justify;
    
}

ol {
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 600;
}

footer {
    text-align: center;
    margin-bottom: 30px;
}

 /* estilo do formulário */
form {
    padding: 20px;
}


.formulario {
    font-weight: 500;
}

#rodape-contato {
    text-align: center;
    margin-left: 30px;
}